certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
decorator==4.4.2
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
instaloader==4.8.5
moviepy==1.0.3
numpy==1.22.2
Pillow==9.0.1
proglog==0.1.9
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pytube==12.0.0
requests==2.27.1
tqdm==4.56.2
typing-extensions==3.7.4.3
urllib3==1.26.3
